body{
  text-align: center;
  font-family: "Roboto", sans-serif;
}

#canvas{
  margin:auto;
  width: auto;
  height: 100vh;
}

#settings{
  position: fixed;
  top: 50px;
  right: 50px;
  font-size: 2em;
}

#greeting{
  margin-top: 45%;
  font-size: 3em;
}
