body{
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

#canvas{
  margin:auto;
  width: 80vh;
  height: 80vh;
}

#settings{
  position: fixed;
  top: 50px;
  right: 50px;
  font-size: 2em;
}

#greeting{
  margin-top: 10vh;
  font-size: 3em;
  font-family: "Open Sans", sans-serif;
}
