body{
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

#canvas{
  margin:auto;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#canvas-wrapper {
  max-width: 800px;
  width: 80vw;
  position: relative;
  margin: 0 auto;
}

#canvas-constrain {
  position: relative;
  max-width: calc(100vh - 67.5px - 10vh - 10vh);
  margin: 0 auto;
}

#canvas-border {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: black;
  opacity: 0;
  border-radius: 50%;
  box-sizing: border-box;
}

#canvas-sizer {
  position: absolute;
  left: 10px;
  top: 10px;
  width: calc(100% - 20px);
  height: 0;
  padding-bottom: calc(100% - 20px);
  background: white;
  border-radius: 50%;
  box-sizing: border-box;
}

.show {
  animation: fadeIn 0.6s forwards;
}

#settings{
  position: fixed;
  top: 50px;
  right: 50px;
  font-size: 2em;
}

.dropdown {
  position: fixed;
  top: 70px;
  right: 220px;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content button:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}


#greeting{
  -o-animation-name: fadeIn;
  -o-animation-duration: 3s;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 3s;
  -moz-animation-name: fadeIn;
  -moz-animation-duration: 3s;
  animation-name: fadeIn;
  animation-duration: 3s;
  margin-top: 10vh;
  font-size: 3em;
  font-family: "Open Sans", sans-serif;
}

#greetingAudio{
  display: none;
}

.time-marker {
  counter-increment: clockTime;
  position: absolute;
  left: calc(50% - 0.8rem);
  top: 5%;
  width: 1.6rem;
  height: 45%;
  text-align: center;
  transform-origin: center bottom !important;
  font-family: Lora, serif;
}

.time-marker > .time-marker {
  width: 100%;
  height: 100%;
}

.time-marker::before {
  content: counter(clockTime);
  font-size: 1.6rem;
  display: inline-block;
}

.time-marker:nth-of-type(2) {
  transform: rotate(30deg);
}

.time-marker:nth-of-type(2)::before {
  transform: rotate(-30deg);
}

.time-marker:nth-of-type(3) {
  transform: rotate(60deg);
}

.time-marker:nth-of-type(3)::before {
  transform: rotate(-60deg);
}

.time-marker:nth-of-type(4) {
  transform: rotate(90deg);
}

.time-marker:nth-of-type(4)::before {
  transform: rotate(-90deg);
}

.time-marker:nth-of-type(5) {
  transform: rotate(120deg);
}

.time-marker:nth-of-type(5)::before {
  transform: rotate(-120deg);
}

.time-marker:nth-of-type(6) {
  transform: rotate(150deg);
}

.time-marker:nth-of-type(6)::before {
  transform: rotate(-150deg);
}

.time-marker:nth-of-type(7) {
  transform: rotate(180deg);
}

.time-marker:nth-of-type(7)::before {
  transform: rotate(-180deg);
}

.time-marker:nth-of-type(8) {
  transform: rotate(210deg);
}

.time-marker:nth-of-type(8)::before {
  transform: rotate(-210deg);
}

.time-marker:nth-of-type(9) {
  transform: rotate(240deg);
}

.time-marker:nth-of-type(9)::before {
  transform: rotate(-240deg);
}

.time-marker:nth-of-type(10) {
  transform: rotate(270deg);
}

.time-marker:nth-of-type(10)::before {
  transform: rotate(-270deg);
}

.time-marker:nth-of-type(11) {
  transform: rotate(300deg);
}

.time-marker:nth-of-type(11)::before {
  transform: rotate(-300deg);
}

.time-marker:nth-of-type(12) {
  transform: rotate(330deg);
}

.time-marker:nth-of-type(12)::before {
  transform: rotate(-330deg);
}

@media screen and (max-width: 767px) {
  .time-marker::before {
    font-size: 1.2rem;
  }
}

@media screen and (max-height: 439px) {
  .time-marker::before {
    font-size: 1rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
